body {
  background-color: rgb(203, 154, 154);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-top: 70px;
}

#form-container {
  background-color: white;
  width: 600px;
  margin: 50px auto 25px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(97, 98, 99, 0.218);
  display: flex;
}

#search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(122, 127, 131);
  margin-left: 10px;
  font-size: 12px;
  width: 512px;
}

#submit-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(88, 31, 31);
  margin-left: 3px;
  font-size: 12px;
  background-color: rgb(88, 31, 31);
  color: white;
}

.poem-container {
  background-color: white;
  width: 600px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(97, 98, 99, 0.218);
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}

footer a {
  text-decoration: none;
  color: rgb(88, 31, 31);
}
