body {
  background-image: url("/src/12418402-Cooking-background-empty-rustic-baking-sheet-and-italian-ingredients.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(203, 154, 154);
  font-family: sans-serif;
}

header {
  margin: 320px auto;
  background-color: white;
  width: 800px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

#form-container {
  margin: 10px auto 25px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(97, 98, 99, 0.218);
  display: flex;
}

#search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(122, 127, 131);
  margin-left: 10px;
  font-size: 12px;
}

#submit-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(88, 31, 31);
  margin-left: 3px;
  font-size: 12px;
  background-color: rgb(88, 31, 31);
  color: white;
}

.poem-container {
  background-color: white;
  width: 580px;
  margin: 10px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(97, 98, 99, 0.218);
  font-size: 14px;
  line-height: 1.5;
  color: rgb(83, 85, 87);
}

.poem-container b {
  color: rgb(74, 28, 28);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.802);
}

footer a {
  text-decoration: none;
  color: #f1c28ca9;
}
