body {
  background-image: url("/src/12418402-Cooking-background-empty-rustic-baking-sheet-and-italian-ingredients.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(203, 154, 154);
  font-family: sans-serif;
}

.header {
  background-color: #a1725ead;
  border-radius: 10px;
  width: 60%;
}

.poem-container {
  background-color: white;
  width: 61%;
  margin: 20px auto 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(97, 98, 99, 0.218);
  font-size: 14px;
  line-height: 1.5;
  color: rgb(83, 85, 87);
}

.poem-container b {
  color: rgb(74, 28, 28);
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.802);
}

footer a {
  text-decoration: none;
  color: #deaa93;
}
